<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/tabs/tab1">
      <ion-icon name="arrow-undo-outline" size="large" ></ion-icon>
    </ion-buttons>
    <ion-title>Тренування</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<!--  <ion-button (click)="onComplete()">Completed</ion-button>-->
  <mat-vertical-stepper [linear]="false" #stepper [animationDuration]="'400'">
    <mat-step>
      <div class="ion-padding-top">
        <app-words-reorder></app-words-reorder>
      </div>
    </mat-step>
    <mat-step>
      <app-words-writer></app-words-writer>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
<!--        <button mat-button matStepperPrevious>Back</button>-->
<!--        <button mat-button (click)="stepper.reset()">Reset</button>-->
      </div>
    </mat-step>
  </mat-vertical-stepper>



</ion-content>
