<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text>
    <h2 class="ion-margin-bottom">Beginners</h2>
  </ion-text>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text>
          <h5>Unit 1</h5>
          <p class="sub-color">To be or not to be</p>
        </ion-text>
      </ion-col>
      <ion-col size="auto">
        <div class="figure">
          <ion-img src="/assets/images/level_1/unit_01.png" (ionImgDidLoad)="$event.target.style.opacity = '1'"></ion-img>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="progress >= 1">
      <ion-col>
        <ion-progress-bar color="dark" value="1"></ion-progress-bar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text>
          <h5>Unit 2</h5>
          <p class="sub-color">Have got/has got <br> (I/ve got the power)</p>
        </ion-text>
      </ion-col>
      <ion-col size="auto">
        <div class="figure">
          <ion-img src="/assets/images/level_1/unit_02.png" (ionImgDidLoad)="$event.target.style.opacity = '1'"></ion-img>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="progress >= 2">
      <ion-col>
        <ion-progress-bar color="dark" value="1"></ion-progress-bar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text>
          <h5>Unit 3</h5>
          <p class="sub-color">Can <br> (I can everything)</p>
        </ion-text>
      </ion-col>
      <ion-col size="auto">
        <div class="figure">
          <ion-img src="/assets/images/level_1/unit_03.png" (ionImgDidLoad)="$event.target.style.opacity = '1'"></ion-img>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="progress >= 3">
      <ion-col>
        <ion-progress-bar color="dark" value="1"></ion-progress-bar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text>
          <h5>Unit 4</h5>
          <p class="sub-color">There is/There are</p>
        </ion-text>
      </ion-col>
      <ion-col size="auto">
        <div class="figure">
          <ion-img src="/assets/images/level_1/unit_04.png" (ionImgDidLoad)="$event.target.style.opacity = '1'"></ion-img>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="progress >= 4">
      <ion-col>
        <ion-progress-bar color="dark" value="1"></ion-progress-bar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text>
          <h5>Unit 5</h5>
          <p class="sub-color">I/me, he/him, they/them</p>
        </ion-text>
      </ion-col>
      <ion-col size="auto">
        <div class="figure">
          <ion-img src="/assets/images/level_1/unit_05.png" (ionImgDidLoad)="$event.target.style.opacity = '1'"></ion-img>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="progress >= 5">
      <ion-col>
        <ion-progress-bar color="dark" value="1"></ion-progress-bar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text>
          <h5>Unit 6</h5>
          <p class="sub-color">My/his/their <br> (Присвійні займенники)</p>
        </ion-text>
      </ion-col>
      <ion-col size="auto">
        <div class="figure">
          <ion-img src="/assets/images/level_1/unit_06.png" (ionImgDidLoad)="$event.target.style.opacity = '1'"></ion-img>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="progress >= 6">
      <ion-col>
        <ion-progress-bar color="dark" value="1"></ion-progress-bar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text>
          <h5>Unit 7</h5>
          <p class="sub-color">a/an</p>
        </ion-text>
      </ion-col>
      <ion-col size="auto">
        <div class="figure">
          <ion-img src="/assets/images/level_1/unit_07.png" (ionImgDidLoad)="$event.target.style.opacity = '1'"></ion-img>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="progress >= 7">
      <ion-col>
        <ion-progress-bar color="dark" value="1"></ion-progress-bar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text>
          <h5>Unit 8</h5>
          <p class="sub-color">one laptop/two laptops <br> (Утворення множини)</p>
        </ion-text>
      </ion-col>
      <ion-col size="auto">
        <div class="figure">
          <ion-img src="/assets/images/level_1/unit_08.png" (ionImgDidLoad)="$event.target.style.opacity = '1'"></ion-img>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="progress >= 8">
      <ion-col>
        <ion-progress-bar color="dark" value="1"></ion-progress-bar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text>
          <h5>Unit 9</h5>
          <p class="sub-color">a lot/ much/ many <br> (багато)</p>
        </ion-text>
      </ion-col>
      <ion-col size="auto">
        <div class="figure">
          <ion-img src="/assets/images/level_1/unit_09.png" (ionImgDidLoad)="$event.target.style.opacity = '1'"></ion-img>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="progress >= 9">
      <ion-col>
        <ion-progress-bar color="dark" value="1"></ion-progress-bar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text>
          <h5>Unit 10</h5>
          <p class="sub-color">(a) little/ (a) few <br> (мало)</p>
        </ion-text>
      </ion-col>
      <ion-col size="auto">
        <div class="figure">
          <ion-img src="/assets/images/level_1/unit_10.png" (ionImgDidLoad)="$event.target.style.opacity = '1'"></ion-img>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="progress >= 10">
      <ion-col>
        <ion-progress-bar color="dark" value="1"></ion-progress-bar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-padding ion-text-center ion-no-border">
  <a [routerLink]="['unit' + (progress+1)]">
    <ion-button class="w-full"> {{progress ? 'Continue' : 'Start Learning'}}</ion-button>
  </a>
</ion-footer>
