<div>
    <section *ngFor="let exc of examples; let i = index"
             [ngClass]="{error: checked && inputs[i] !== exc.sentence}">

    <ng-container *ngFor="let word of exc.example.split(' '); let n = index">
      @if (word === '{{input}}') {
        <ion-input class="input" [(ngModel)]="inputs[i]" (ngModelChange)="change()"></ion-input>
      }
      @else {
        <span>{{word}}</span>
      }

      <span *ngIf="n !== exc.example.split(' ').length - 1">&nbsp;</span>
    </ng-container>
  </section>
</div>

<div class="ion-text-center ion-margin-top">
  <ion-button (click)="check()">Перевірити...</ion-button>
</div>

