<div>
    <section *ngFor="let sentence of sentences; let i = index"
             [ngClass]="{error: checked && inputs[i] !== rightAnswers[i]}">

<!--    @if (checked) {-->
<!--      @if (inputs[i] === rightAnswers[i]) {-->
<!--        <ion-icon class="ion-padding-end" name="chevron-down-circle-outline" color="success"></ion-icon>-->
<!--      }-->
<!--      @else {-->
<!--        <ion-icon class="ion-padding-end" name="close-circle-outline" color="danger"></ion-icon>-->
<!--      }-->
<!--    }-->

    <ng-container *ngFor="let word of sentence.split(' '); let n = index">
      @if (word === '{{input}}') {
        <ion-input class="input" [(ngModel)]="inputs[i]" (ngModelChange)="change()"></ion-input>
      }
      @else {
        <span>{{word}}</span>
      }

      <span *ngIf="n !== sentence.split(' ').length - 1">&nbsp;</span>
    </ng-container>
  </section>
</div>

<div class="ion-text-center ion-margin-top">
  <ion-button (click)="check()">Перевірити...</ion-button>
</div>

