<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/courses/beginners"></ion-back-button>
    </ion-buttons>
    <ion-title>Unit 4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="currentTeo === 1">
    <ion-text>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;Конструкція <b>There is, There are</b> вказує на те що щось є.
        <br>&nbsp;&nbsp;&nbsp;&nbsp;Наприклад <b>There is a cinema in the town</b> (Є кінотеатр в місті) або <b>There are two gyms in the town</b>.
        <br>&nbsp;&nbsp;&nbsp;&nbsp;Якщо предмет один, то вживаємо <b>There is</b>.
        У випадку коли потрібно вказати на наявність більше одного предмета, вживаємо конструкцію <b>There are</b>.
        <br><br>&nbsp;&nbsp;&nbsp;&nbsp;Ось і все) Успіхів у практичних завданнях!

        <br><br>&nbsp;&nbsp;&nbsp;&nbsp; <ion-icon name="alert-circle-outline" color="warning"></ion-icon>
        Важливо пам'ятати, що в англійських реченнях важливий порядок слів у реченні.
        <br><br>&nbsp;&nbsp;&nbsp;&nbsp;В реченнях з конструкцією <b>There is, There are</b>
        на перше місце ставимо <b>There is, There are</b> (Є), потім ЩО є -
        <br>&nbsp;&nbsp;&nbsp;&nbsp;<b>There is a cinema</b>,
        <br>&nbsp;&nbsp;&nbsp;&nbsp;<b>There are three churches</b>,
        <br>і в останню чергу обставину місця, тобто ДЕ це знаходиться -
        <br>&nbsp;&nbsp;&nbsp;&nbsp;<b>There is an airport in the town</b>.
        <br>&nbsp;&nbsp;&nbsp;&nbsp;<b>There are three churches in the town</b>.

        <br><br>&nbsp;&nbsp;&nbsp;&nbsp;Якщо треба сказати, що чогось немає, використовуємо конструкцію <b>There isn't, There aren't</b>.
        <br>&nbsp;&nbsp;&nbsp;&nbsp;Наприклад <b>There isn't an airport in the town</b>. (В місті немає аеропорту).
      </p>

    </ion-text>


    <div class="figure-landscape full-width">
      <ion-img src="/assets/images/level_1/unit_004.png" (ionImgDidLoad)="$event.target.style.opacity = '1'"></ion-img>
    </div>

  </ng-container>

  <ng-container *ngIf="currentTeo === 2">

  </ng-container>

  <ng-container *ngIf="currentTeo === 3">

  </ng-container>

  <ng-container *ngIf="currentTeo === 4">

  </ng-container>

  <ion-button class="w-full ion-margin-top" id="exc">Off we go!</ion-button>
</ion-content>

<ion-modal trigger="exc">
  <ng-template>
    <ion-header class="ion-no-border ion-padding">
      <ion-toolbar>
        <ion-buttons slot="start" (click)="modal.dismiss()">
          <ion-icon name="close" size="large"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ng-container *ngIf="currentExc === 1">
        <app-vocabulary mood="landscape" [vocabulary]="vocabulary"
                        (_onComplete)="currentExc = 2"
        ></app-vocabulary>
      </ng-container>

      <ng-container *ngIf="currentExc === 2">
        <ion-text class="ion-text-center">
          <h1 class="ion-padding-bottom">Affirmative <br> (Розповідні речення)</h1>
          <h6 class="ion-padding-bottom">Поставте слова в правильному порядку</h6>
        </ion-text>
        <app-words-reorder [examples]="affirmative" mood="landscape"
                           (_onComplete)="currentExc = 3"
        ></app-words-reorder>
      </ng-container>

      <ng-container *ngIf="currentExc === 3">
        <ion-text class="ion-text-center">
          <h1 class="ion-padding-bottom">Встав правильну форму</h1>
          <h6 class="ion-padding-bottom">(is or are)</h6>
        </ion-text>
        <app-words-writer [examples]="affirmative"
                          (_onComplete)="currentExc = 4;"
        ></app-words-writer>
      </ng-container>

      <ng-container *ngIf="currentExc === 4">
        <ion-text class="ion-text-center">
          <h1 class="ion-padding-bottom">Перекладіть речення</h1>
          <h6 class="ion-padding-bottom">Використовуйте коротку форму запису <br> <b>There isn't, There aren't</b></h6>
        </ion-text>
        <app-words-translate [examples]="negative" mood="landscape"
                             (_onComplete)="currentExc = 5; "
        ></app-words-translate>
      </ng-container>

      <ng-container *ngIf="currentExc === 5">
        <ion-text class="ion-text-center">
          <h1 class="ion-padding-bottom">Questions <br> <b>Is there? Are there?</b></h1>
          <h6 class="ion-padding-bottom">Поставте слова в правильному порядку</h6>
        </ion-text>
        <app-words-reorder [examples]="question" mood="landscape"
                           (_onComplete)="currentExc = 6; finish()"
        ></app-words-reorder>
      </ng-container>

      <ng-container *ngIf="currentExc === 6">
        <ion-text class="ion-text-center">
          <h4 class="ion-padding-bottom ion-text-center">Вітаємо Вас з пройденою вправою</h4>

          <div class="figure">
            <ion-img src="/assets/images/congratulations_1.png"></ion-img>
          </div>

          <a routerLink="../unit5">
            <ion-button class="w-full ion-margin-top">Next Unit</ion-button>
          </a>
        </ion-text>
      </ng-container>
    </ion-content>
  </ng-template>
</ion-modal>
