<ng-container *ngFor="let s of examples; let i = index">
  <ng-container *ngIf="currentExc === i">
    <ion-text>
      <h1 class="ion-text-center ion-text-uppercase ion-margin-bottom"><b>{{s.translate}}</b></h1>
    </ion-text>

    <div [ngClass]="{'figure-square': mood === 'square', 'figure-landscape': mood === 'landscape'}">
      <ion-img src="{{s.image}}" (ionImgDidLoad)="$event.target.style.opacity = '1'"></ion-img>
    </div>

    <ion-input class="ion-text-center ion-margin-top" placeholder="Введіть переклад" [(ngModel)]="answers[i]"
               (ngModelChange)="change(i)"
    ></ion-input>
  </ng-container>
</ng-container>



