<ion-header>
  <ion-toolbar>
    <ion-title>Базові уроки</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="content">
    <ion-nav [root]="component"></ion-nav>
  </div>
</ion-content>

<!--<ion-header [translucent]="true">-->
<!--  <ion-toolbar>-->
<!--    <ion-title >-->
<!--      Базові уроки-->
<!--    </ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<!--<ion-content [fullscreen]="true">-->
<!--&lt;!&ndash;  <ion-header collapse="condense">&ndash;&gt;-->
<!--&lt;!&ndash;    <ion-toolbar>&ndash;&gt;-->
<!--&lt;!&ndash;      <ion-title size="large">Базові уроки</ion-title>&ndash;&gt;-->
<!--&lt;!&ndash;    </ion-toolbar>&ndash;&gt;-->
<!--&lt;!&ndash;  </ion-header>&ndash;&gt;-->

<!--  <ion-nav [root]="component"></ion-nav>-->
<!--</ion-content>-->
