<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Базові уроки - Урок №1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="primary">
    <h1>Урок №1</h1>
  </ion-text>
  <ion-text color="secondary">
    <h2>To Be</h2>
  </ion-text>

  <p>
    Жодне речення в англійській мові не відбувається без дієслова.
    На відміну від української мови, в англійському реченні ми не можемо просто сказати
    <ion-text color="medium"><i>He <ion-text color="success">...</ion-text>  my friend</i></ion-text>,<br>
    потрібно сказати Він <ion-text color="success">є</ion-text> моїм другом. <br>
    <ion-text color="medium"><i>He <ion-text color="success">is</ion-text>  my friend</i></ion-text>, <br>
    Або я є щасливий, Я не є тварина, Я є людина.
  </p>

  <div class="wrap-center">
    <table class="ion-text-center">
      <thead>
      <tr>
        <th class="ion-padding">Long form</th>
        <th class="ion-padding">Short form</th>
      </tr>
      </thead>
      <tbody>

      <tr>
        <td> <ion-text color="primary">I am</ion-text> </td>
        <td> <ion-text color="primary">I'm</ion-text> </td>
      </tr>
      <tr>
        <td> <ion-text color="primary">You are</ion-text> </td>
        <td> <ion-text color="primary">You're</ion-text> </td>
      </tr>
      <tr>
        <td> <ion-text color="primary">He is</ion-text> </td>
        <td> <ion-text color="primary">He's</ion-text> </td>
      </tr>
      <tr>
        <td> <ion-text color="primary">She is</ion-text> </td>
        <td> <ion-text color="primary">She's</ion-text> </td>
      </tr>
      <tr>
        <td> <ion-text color="primary">It is</ion-text> </td>
        <td> <ion-text color="primary">It's</ion-text> </td>
      </tr>
      <tr>
        <td> <ion-text color="primary">We are</ion-text> </td>
        <td> <ion-text color="primary">We're</ion-text> </td>
      </tr>
      <tr>
        <td> <ion-text color="primary">They are</ion-text> </td>
        <td> <ion-text color="primary">They're</ion-text> </td>
      </tr>
      </tbody>


    </table>
  </div>

</ion-content>
