.container {
  height: calc(100vh - 170px);
  display: grid;
  grid-template-rows: 1fr auto;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  font-size: 16px;
}

.example {
  margin: 28px 0;
  font-size: 18px;
  font-weight: bold;
}

.answer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;

  padding: 15px;
  border: 1px solid #DBE0E5;
  border-radius: 12px;
}

.actions {
  padding-bottom: 40px;
}
