<div class="container">
  <div>
    <ion-text>
      <div class="header">
        <div><b>{{currentExc}} / {{examples.length}}</b></div>
        <div><b>{{(100*(currentExc/(examples.length))) | number:'1.0-0'}}%</b></div>
      </div>
    </ion-text>
    <ion-progress-bar [value]="currentExc/(examples.length)"></ion-progress-bar>

    <ng-container *ngFor="let example of examples; let i = index">
      <ng-container *ngIf="currentExc === i">

        <div class="example">
          {{example.sentence}}
        </div>

        <ion-radio-group [(ngModel)]="userAnswers[i]" (ionChange)="checked = false">
          <div class="answer" *ngFor="let answer of example.answers; let n = index">
            <div>{{answer.value}}</div>
            <ion-radio [value]="n"
                       [color]="checked ? !answer.answer ? 'danger' : 'success' : ''"
            ></ion-radio>
          </div>
        </ion-radio-group>
      </ng-container>
    </ng-container>
  </div>
  <div class="actions">
    <ion-button class="w-full" (click)="check()">Перевірити</ion-button>
  </div>
</div>

