<table>
  <tr>
    <td>
      <div class="image">
        <ion-img src="/assets/images/thirsty.png" (ionImgDidLoad)="$event.target.style.opacity = '1'"></ion-img>
      </div>
    </td>
    <td rowspan="6" class="td-done">
      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[todoList]"
        class="list"
        (cdkDropListDropped)="drop($event)">
        @for (item of done; track item) {
          <div class="list-item" cdkDrag>
            <ion-text>{{item}}  </ion-text>
          </div>
        }
      </div>
    </td>
    <td rowspan="6" class="td-done">
      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[doneList]"
        class="list"
        (cdkDropListDropped)="drop($event)">
        @for (item of todo; track item) {
          <div class="list-item skeleton-box" cdkDrag>
            <ion-text>{{item}}</ion-text>
          </div>
        }
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="image">
        <ion-img src="/assets/images/cold.png" (ionImgDidLoad)="$event.target.style.opacity = '1'"></ion-img>
      </div>

    </td>
    <td></td>
  </tr>

  <tr>
    <td>
      <div class="image">
        <ion-img src="/assets/images/hungry.png" (ionImgDidLoad)="$event.target.style.opacity = '1'"></ion-img>
      </div>
    </td>
    <td></td>
  </tr>
  <tr>
    <td>
      <div class="image">
        <ion-img src="/assets/images/angry_women.png" (ionImgDidLoad)="$event.target.style.opacity = '1'"></ion-img>
      </div>
    </td>

    <td></td>
  </tr>
  <tr>
    <td>
      <div class="image">
        <ion-img src="/assets/images/hot.png" (ionImgDidLoad)="$event.target.style.opacity = '1'"></ion-img>
      </div>
    </td>
    <td></td>
  </tr>
  <tr>
    <td>
      <div class="image">
        <ion-img src="/assets/images/scared.png" (ionImgDidLoad)="$event.target.style.opacity = '1'"></ion-img>
      </div>
    </td>
    <td></td>
  </tr>

</table>
