<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/courses/beginners"></ion-back-button>
    </ion-buttons>
    <ion-title>Unit 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ng-container *ngIf="currentTeo === 1">
    <ion-text>
      <h1 class=" ion-text-center">Have got - <i>мати</i></h1>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;Це дуже часто вживане діэслово в англійській мові.
        Зверніть увагу - в українській мові ми можемо сказати двома способами, що у нас щось є - <b>Я маю, У мене є</b>.
        <br><br>&nbsp;&nbsp;&nbsp;&nbsp;В англійській мові немає конструкції <b>У мене є</b>.
        Єдиний можливий варіант сказати <b>Я маю, Ти маєш, Він має</b> і т.д.
        <br>&nbsp;&nbsp;&nbsp;&nbsp;Будуючи речення в англійській мові важливо дотримуватись чіткого порядку слів в кожному типі речень.
      </p>
      <h6 class="ion-text-center ion-margin-bottom">Погнали розбиратись</h6>

      <div class="figure-landscape full-width">
        <ion-img src="/assets/images/level_1/unit_002.jpg" (ionImgDidLoad)="$event.target.style.opacity = '1'"></ion-img>
      </div>
    </ion-text>
  </ng-container>

  <ng-container *ngIf="currentTeo === 2">
    <ion-text class="ion-text-center">
      <h1 class="ion-padding-top ion-padding-bottom">Affirmative (ствердження)</h1>

      <ion-grid class="ion-padding-top ion-padding-bottom">
        <ion-row>
          <ion-col><b>Long forms</b></ion-col>
          <ion-col><b>Short forms</b></ion-col>
        </ion-row>

        <ion-row>
          <ion-col>I have got</ion-col>
          <ion-col>I've got</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>You have got</ion-col>
          <ion-col>You've got</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>He has got</ion-col>
          <ion-col>He's got</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>She has got</ion-col>
          <ion-col>She's got</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>It has got</ion-col>
          <ion-col>It's got</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>We have got</ion-col>
          <ion-col>We've got</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>They have got</ion-col>
          <ion-col>They've got</ion-col>
        </ion-row>
      </ion-grid>
    </ion-text>
  </ng-container>

  <ng-container *ngIf="currentTeo === 3">
    <ion-text class="ion-text-center">
      <h1 class="ion-padding-top">Negative (заперечення)</h1>

      <ion-grid class="ion-padding-top ion-padding-bottom">
        <ion-row>
          <ion-col><b>Long forms</b></ion-col>
          <ion-col><b>Short forms</b></ion-col>
        </ion-row>

        <ion-row>
          <ion-col>I have not got</ion-col>
          <ion-col>I haven't got</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>You have not </ion-col>
          <ion-col>You haven't got </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>He has not got</ion-col>
          <ion-col>He hasn't got</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>She has not got</ion-col>
          <ion-col>She hasn't got</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>It has not got</ion-col>
          <ion-col>It hasn't got</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>We have not got</ion-col>
          <ion-col>We haven't got</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>They have not got</ion-col>
          <ion-col>They haven't got</ion-col>
        </ion-row>
      </ion-grid>
    </ion-text>
  </ng-container>

  <ng-container *ngIf="currentTeo === 4">
    <ion-text class="ion-text-center">
      <h1 class="ion-padding-top">Interrogative (питання)</h1>

      <ion-grid class="ion-padding-top ion-padding-bottom">
        <ion-row>
          <ion-col>Have I got?</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>Have you got?</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>Has he got?</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>Has she got?</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>Has it got?</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>Have we got?</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>Have they got?</ion-col>
        </ion-row>

      </ion-grid>
    </ion-text>
  </ng-container>

  <ion-button class="w-full ion-margin-top" id="exc">Off we go!</ion-button>
</ion-content>

<ion-modal trigger="exc">
  <ng-template>
    <ion-header class="ion-no-border ion-padding">
      <ion-toolbar>
        <ion-buttons slot="start" (click)="modal.dismiss()">
          <ion-icon name="close" size="large"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ng-container *ngIf="currentExc === 1">
        <app-vocabulary mood="landscape" [vocabulary]="vocabulary"
                        (_onComplete)="currentTeo = 2; modal.dismiss(); delay(2);"
        ></app-vocabulary>
      </ng-container>

      <ng-container *ngIf="currentExc === 2">
        <ion-text class="ion-text-center">
          <h1 class="ion-padding-bottom">Вдрукуйте правильну форму дієслова</h1>
          <h6 class="ion-padding-bottom">(have got / has got)</h6>
        </ion-text>
        <app-words-writer [examples]="affirmative"
                          (_onComplete)="currentExc = 3;"
        ></app-words-writer>
      </ng-container>

      <ng-container *ngIf="currentExc === 3">
        <ion-text class="ion-text-center">
          <h1 class="ion-padding-bottom">Зробити правильний порядок слів</h1>
          <h6 class="ion-padding-bottom">Слова перетягуються по вертикалі</h6>
        </ion-text>
        <app-words-reorder [examples]="affirmative" mood="landscape"
                           (_onComplete)="currentExc = 4;"
        ></app-words-reorder>
      </ng-container>

      <ng-container *ngIf="currentExc === 4">
        <ion-text class="ion-text-center">
          <h1 class="ion-padding-bottom">Надрукувати переклад</h1>
          <h6 class="ion-padding-bottom">Використовуй коротку форму запису</h6>
        </ion-text>

        <app-words-translate [examples]="affirmative" mood="landscape"
                             (_onComplete)="currentTeo = 3; modal.dismiss(); delay(3);"
        ></app-words-translate>
      </ng-container>

      <ng-container *ngIf="currentExc === 5">
        <ion-text class="ion-text-center">
          <h1 class="ion-padding-bottom">Встав правильну форму дієслова</h1>
          <h6 class="ion-padding-bottom">(haven't got / hasn't got)</h6>
        </ion-text>
        <app-words-writer [examples]="negative"
                          (_onComplete)="currentExc = 6;"
        ></app-words-writer>
      </ng-container>

      <ng-container *ngIf="currentExc === 6">
        <ion-text class="ion-text-center">
          <h1 class="ion-padding-bottom">Зробити правильний порядок слів</h1>
          <h6 class="ion-padding-bottom">Слова перетягуються по вертикалі</h6>
        </ion-text>
        <app-words-reorder [examples]="negative" mood="landscape"
                           (_onComplete)="currentExc = 7;"
        ></app-words-reorder>
      </ng-container>

      <ng-container *ngIf="currentExc === 7">
        <ion-text class="ion-text-center">
          <h1 class="ion-padding-bottom">Надрукувати переклад</h1>
          <h6 class="ion-padding-bottom">Використовуйте скорочену форму запису</h6>
        </ion-text>
        <app-words-translate [examples]="negative" mood="landscape"
                             (_onComplete)="currentTeo = 4; modal.dismiss(); delay(8);"
        ></app-words-translate>
      </ng-container>

      <ng-container *ngIf="currentExc === 8">
        <ion-text class="ion-text-center">
          <h1 class="ion-padding-bottom">Встав правильну форму</h1>
          <h6 class="ion-padding-bottom">(Have or Has)</h6>
        </ion-text>
        <app-words-writer [examples]="question"
                          (_onComplete)="currentExc = 9;"
        ></app-words-writer>
      </ng-container>

      <ng-container *ngIf="currentExc === 9">
        <ion-text class="ion-text-center">
          <h1 class="ion-padding-bottom">Зробити правильний порядок слів</h1>
          <h6 class="ion-padding-bottom">Слова перетягуються по вертикалі</h6>
        </ion-text>
        <app-words-reorder [examples]="question" mood="landscape"
                           (_onComplete)="currentExc = 10;"
        ></app-words-reorder>
      </ng-container>

      <ng-container *ngIf="currentExc === 10">
        <ion-text class="ion-text-center">
          <h1 class="ion-padding-bottom">Надрукувати переклад</h1>
          <h6 class="ion-padding-bottom">Використовуйте довгу форму запису</h6>
        </ion-text>
        <app-words-translate [examples]="question" mood="landscape"
                             (_onComplete)="currentExc = 11; finish()"
        ></app-words-translate>
      </ng-container>

      <ng-container *ngIf="currentExc === 11">
        <ion-text class="ion-text-center">
          <h4 class="ion-padding-bottom ion-text-center">Вітаємо Вас з пройденою вправою</h4>

          <div class="figure">
            <ion-img src="/assets/images/congratulations_1.jpg"></ion-img>
          </div>

          <a routerLink="../unit3">
            <ion-button class="w-full ion-margin-top">Next Unit</ion-button>
          </a>
        </ion-text>
      </ng-container>
    </ion-content>
  </ng-template>
</ion-modal>
