<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/courses/beginners"></ion-back-button>
    </ion-buttons>
    <ion-title>Unit 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="currentTeo === 1">
    <ion-text>
      <h1>Have got - мати</h1>

      <p>
        Цу дуже часто вживане діэслово в англійській мові.
        Зверніть увагу - в українській мові ми можемо сказати двома способами, що у нас щось є - Я маю, У мене є.
        <br> В англійській мові немає конструкції У мене є. Єдиний можливий варіант сказати Я маю, Ти маєш, Він має і т.д.
        Будуючи речення в англійській мові важливо дотримуватись чіткого порядку слів в кожному типі речень.
        <br>Погнали розбиратись
        <br>Off we go!
      </p>

      <div class="figure">
        <ion-img src="/assets/images/level_1/unit_002.png"></ion-img>
      </div>
    </ion-text>
  </ng-container>
</ion-content>
