<ng-container *ngFor="let s of words; let i = index">
  <ng-container *ngIf="currentExc === i">
    <div class="ion-margin-bottom"
         [ngClass]="{'figure-square': mood === 'square', 'figure-landscape': mood === 'landscape'}">
      <ion-img src="{{examples[i].image}}" (ionImgDidLoad)="$event.target.style.opacity = '1'"></ion-img>
    </div>
    <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
      <div *ngFor="let item of s" class="ion-text-center item">
        <ion-reorder></ion-reorder>
        <div class="word">
          {{item}}
        </div>
      </div>
    </ion-reorder-group>

<!--    <div class="ion-text-center" *ngIf="rightAnswer">-->
<!--      <ion-chip color="success">Вірно!</ion-chip>-->
<!--    </div>-->
  </ng-container>
</ng-container>
