<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/courses/beginners"></ion-back-button>
    </ion-buttons>
    <ion-title>Unit 1: To be or not to be</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text>
    <h6>
      Жодне речення в англійській мові не будується без дієслова.
      Навіть якщо дії в реченні немає, все одно потрібно вжити дієслово.
      Таку роль відіграє дієслово <ion-text color="primary">to be</ion-text>.
    </h6>
    <p><ion-text color="primary">To be</ion-text> - це початкова форма. Воно відмінюється відповідно до осіб.</p>
    <p>
      На відміну від української мови, ми не можемо просто сказати  He my friend.
      Потрібно сказати - He is me friend. (Він <ion-text color="primary">Є</ion-text> мій друг). <br>
      I am happy (Я є щасливий). <br> I am not an animal, I am a human. (Я не тварина, я людина)
    </p>
    <p>
      В англійських реченнях чіткий порядок слів в усіх типах речень
    </p>
  </ion-text>
  <div class="figure">
    <ion-img src="/assets/images/level_1/unit_01.png"></ion-img>
  </div>
  <ion-text>
    <h5 class="ion-padding-top">Affirmative (ствердження)</h5>
  </ion-text>

  <ion-grid class="ion-text-center ion-padding-top">
    <ion-row>
      <ion-col><b>Long forms</b></ion-col>
      <ion-col><b>Short forms</b></ion-col>
    </ion-row>

    <ion-row>
      <ion-col>I am</ion-col>
      <ion-col>I'm</ion-col>
    </ion-row>

    <ion-row>
      <ion-col>You are</ion-col>
      <ion-col>You're</ion-col>
    </ion-row>

    <ion-row>
      <ion-col>He is</ion-col>
      <ion-col>He's</ion-col>
    </ion-row>

    <ion-row>
      <ion-col>She is</ion-col>
      <ion-col>She's</ion-col>
    </ion-row>

    <ion-row>
      <ion-col>It is</ion-col>
      <ion-col>It's</ion-col>
    </ion-row>

    <ion-row>
      <ion-col>We are</ion-col>
      <ion-col>We're</ion-col>
    </ion-row>

    <ion-row>
      <ion-col>They are</ion-col>
      <ion-col>They're</ion-col>
    </ion-row>
  </ion-grid>

  <div class="figure">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col>
          <div class="wi">
            <ion-img src="/assets/images/i_am_a_soldier.png"></ion-img>
          </div>
        </ion-col>
        <ion-col>
          <ion-grid class="ion-no-padding">
            <ion-row>
              <ion-col>
                <div class="wi">
                  <ion-img src="/assets/images/he_is_a_layer.png"></ion-img>
                </div>
              </ion-col>
              <ion-col>
                <div class="wi">
                  <ion-img src="/assets/images/she_is_a_vet.png"></ion-img>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div class="wi">
                  <ion-img src="/assets/images/we_are_pilots.png"></ion-img>
                </div>
              </ion-col>
              <ion-col>
                <div class="wi">
                  <ion-img src="/assets/images/they_are_builders.png"></ion-img>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="ion-padding">
      <ion-button class="w-full">Start exercises</ion-button>
    </div>

  </div>

</ion-content>
