.words-container {
  margin-bottom: 1rem;
  padding-bottom: 4px;
  border: 1px solid rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.32);
  border-radius: 12px 12px 0 0;

  &-header {
    text-align: center;

  }

  &-list {
    min-height: 40px;
    //border: 1px solid red;
  }
}

.category {
  margin-bottom: 1rem;
  padding-bottom: 4px;
  border: 1px solid rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.32);
  border-radius: 12px 12px 0 0;

  &-header {
    text-align: center;
  }

  &-list {
    min-height: 40px;
    //border: 1px solid red;
  }

  .cdk-drop-list-dragging {
    background-image: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.2) 2px, transparent 0, transparent 50%);
    background-size: 12px 12px;
    background-color: #ffffff;
  }
}
