<div cdkDropListGroup>
  <div class="words-container">
    <h2 class="words-container-header">Words</h2>

    <div
      cdkDropList
      [cdkDropListData]="words.words"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      @for (item of words.words; track item) {
        <ion-chip [outline]="true" cdkDrag>{{item}}</ion-chip>
      }
    </div>
  </div>

  <div class="categories-container">
    @for (category of categories; track category) {
      <div class="category">
        <h2 class="category-header">{{category.label}}</h2>

        <div class="category-list"
             cdkDropList
             [cdkDropListData]="category.data"
             (cdkDropListDropped)="drop($event)">
          @for (item of category.data; track item) {
            <ion-chip [outline]="true" cdkDrag>{{item}}</ion-chip>
          }
        </div>
      </div>
    }
  </div>


</div>

